@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-bold.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-bold.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;

}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-bolditalic.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-bolditalic.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
 font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-medium.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-medium.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-mediumitalic.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-mediumitalic.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-regular.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-regular.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-regularitalic.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-regularitalic.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-regularitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-thin.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-thin.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'TeleGrotesk Next';
  src: url('/assets/fonts/telegrotesknext-ultra.woff2') format('woff2'),
    url('/assets/fonts/telegrotesknext-ultra.woff') format('woff'),
    url('/assets/fonts/telegrotesknext-ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
